<html>
  <title>Welcome template for books</title>
  <body>
    <p>Total number of books= <%=@num_books%></p>
    <form action="result">
      Enter Searching element: <input type="text" name="sid"/>
      <input type=submit value="search"/> 
  </body>
</html>
